*.gff3
*.gz
*.png
*.pdf
*.txt
*.tbi 
*.md
# Jupyter
**/.ipynb_checkpoints/

# Local artifacts / outputs
nextflow/pipelines/ensembl_cat_comparison/notebooks/backups/
nextflow/pipelines/ensembl_cat_comparison/notebooks/figures/
nextflow/pipelines/ensembl_cat_comparison/results/
notebooks/
.DS_Store